INSTALL
Makefile
Makefile.in
config.*
configure
missing
stamp-h1
.deps
*.o
aclocal.m4
autom4te.cache
*.service
compile
depcomp
m4/
libtool
ltmain.sh
install-sh
flatpak-sample-authenticator
*-generated.[ch]
